In [1]:
import pandas as pd
from math import sqrt
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from datetime import datetime
import csv

now = datetime.now()

In [2]:
data_dir='data'

In [3]:
df = pd.read_csv(f'{data_dir}/students_adaptability_level_online_education.csv')

In [4]:
df.head()

,Gender,Age,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,Device,Adaptivity Level
0,Boy,21-25,University,Non Government,No,Yes,Low,Mid,Wifi,4G,3-6,No,Tab,Moderate
1,Girl,21-25,University,Non Government,No,Yes,High,Mid,Mobile Data,4G,1-3,Yes,Mobile,Moderate
2,Girl,16-20,College,Government,No,Yes,Low,Mid,Wifi,4G,1-3,No,Mobile,Moderate
3,Girl,11-15,School,Non Government,No,Yes,Low,Mid,Mobile Data,4G,1-3,No,Mobile,Moderate
4,Girl,16-20,School,Non Government,No,Yes,Low,Poor,Mobile Data,3G,0,No,Mobile,Low

In [12]:
# shape of the data
data_size = df.shape
data_size

(1205, 14)

In [14]:
df.dtypes

Gender                 object
Age                    object
Education Level        object
Institution Type       object
IT Student             object
Location               object
Load-shedding          object
Financial Condition    object
Internet Type          object
Network Type           object
Class Duration         object
Self Lms               object
Device                 object
Adaptivity Level       object
dtype: object

In [68]:
# missing values 
df.isnull().sum() # check for null values

Gender                 0
Age                    0
Education Level        0
Institution Type       0
IT Student             0
Location               0
Load-shedding          0
Financial Condition    0
Internet Type          0
Network Type           0
Class Duration         0
Self Lms               0
Device                 0
Adaptivity Level       0
dtype: int64

In [74]:
adaptivity_level_value = df['Adaptivity Level'].unique()
adaptivity_level_value

array(['Moderate', 'Low', 'High'], dtype=object)

In [75]:
sorted(adaptivity_level_value)

['High', 'Low', 'Moderate']

In [44]:
# add column adaptivity ( convert string attributes to numeric values)
'''
0- low
1- moderate
2 - high 
'''

'\n0- low\n1- moderate\n2 - high \n'

In [76]:
# function assgin values to adaptivity level 
def adaptivityValues(level):
    if level == 'Low':
        return 0 
    elif level == 'Moderate':
        return 1
    else: 
        return 2

In [78]:
df_std = df

In [80]:
df_std['adpativity'] = df_std['Adaptivity Level'].apply(adaptivityValues)

In [81]:
df_std.head()

,Gender,Age,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,Device,Adaptivity Level,adpativity
0,Boy,21-25,University,Non Government,No,Yes,Low,Mid,Wifi,4G,3-6,No,Tab,Moderate,1
1,Girl,21-25,University,Non Government,No,Yes,High,Mid,Mobile Data,4G,1-3,Yes,Mobile,Moderate,1
2,Girl,16-20,College,Government,No,Yes,Low,Mid,Wifi,4G,1-3,No,Mobile,Moderate,1
3,Girl,11-15,School,Non Government,No,Yes,Low,Mid,Mobile Data,4G,1-3,No,Mobile,Moderate,1
4,Girl,16-20,School,Non Government,No,Yes,Low,Poor,Mobile Data,3G,0,No,Mobile,Low,0

In [82]:
#df2=df.head()
#df2['adpativity'] = np.where(df2['Adaptivity Level']=='Low',1,2)

### Descriptive analysis

In [ ]:
# hist grap 
plt.hist(df2['adpativity'])
plt.xlabel('adpativity')

Text(0.5, 0, 'adpativity')